<%- layout('layouts/boilerplate.ejs') %> <!--All this below is passed as body in boilerplate.ejs-->
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form method="POST" action="/campgrounds/<%= campground._id %>?_method=PUT" novalidate enctype="multipart/form-data" class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" id="title" type="text" name="campground[title]" value="<%= campground.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>          <!--Value is different from placeholder-->
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" id="location" type="text" name="campground[location]" value="<%= campground.location %>"  required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="price">$</span>
                    <input type="number" id="price" class="form-control" placeholder="0.0" aria-label="Username" aria-describedby="price" name="campground[price]" value="<%= campground.price %>"  required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>     
            </div>         
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" type="text" name="campground[description]"  required><%= campground.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="image">Add More Images!</label>
            </div>
            <div class="input-group mb-3">
                <input type="file" class="form-control" name="image" id="image" multiple>
            </div>
            <div class="mb-3">
                <% campground.images.forEach(function(img, i) { %>
                    <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                        <!--The value of any checkbox that was checked is stored in deleteImages array-->
                        <!--This deleteImages array is stored in req.body as req.body.deleteImages-->
                    </div>
                    <label for="image-<%= i %>">Delete?</label>
                <% }) %>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
    </div>
</div>
